a {
    text-decoration: none;
    color: white;
}

h2,h3 {
    text-shadow: none;
    text-decoration: none;
    font-weight: 200;
    margin: 0;
}

h1 {
    text-shadow: none;
    text-decoration: none;
    font-weight: 200;
    color: #1e1a1c;
    margin: 0;
}

/*::-webkit-scrollbar{
    width: 0px;
}*/

body {
    margin: 0;
    font-family: "Teko";
    color: #1e1a1c;
    text-shadow: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.897), rgba(255, 255, 255, 0.897)),url("background.svg");
    background-size: 30%;
    background-position-y: calc(100px);
}

/*Header*/
/*Logo and title*/
.title h2 {
    color: #1e1a1c;
}

/*Default logo*/
.logo img {
    width: 32px;
    padding-left: 5px;
}

/*White logo*/
.logo-white img {
    width: 32px;
    padding-left: 15px;
    margin: 0;
}

.logo-white {
    padding-top: 7px;
    position: absolute;
    visibility: hidden;
    transition: 0.2sf;
}

.text-logo {
    color:#1e1a1c;
    text-transform: uppercase;
    padding-left: 10px;
}

.title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding-top: 8px;
    padding-bottom: 5px ;
}

/*Introduction text*/
.intro {
    display: flex;
    height: 20%;
    align-items: center;
    padding-left: 10px;
}

/*Right icons of header*/
.right-icons {
    display: flex;
}

.right-icons div{
    padding-right: 10px;
}

/*----------NEW SECTION-----------*/
/*Navbar*/
nav {
    display:flex;
    position:sticky;
    top: 0px;
    width: 100%;
    z-index: 999;
    margin-bottom: 0;
    align-items: center;
}

nav ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.nav-content {
    transition: 0.2s;
    background-color:#e09f36ed ;
    width: 100%;

}

.nav-content li {
    display: block;
    float: left;
    position: relative;
    transition-duration: 0.5s;;
}

.nav-content li {
    float: left;
    display: block;
    padding:0px 15px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 10px;
}

.nav-content li:hover {
    background-color: rgb(62, 165, 255);
    cursor: pointer;
}

/*Product dropdown*/
.dropdown {
    background-color:#e09f36ed ;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top:10px;
    left: 0;
    display: none;
    width: 100px;
}

.nav-content li:hover > .dropdown, .nav-content li:focus-within > .nav-content, .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.dropdown li {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}

.dropdown li a {
    color: white;
}

.products-nav {
    display: inline-block;
}

.dropdown {
    display: none;
    min-width: 160px;
    z-index: 2;   
}

.dropdown a{
    padding: 12px 16px;
    color: #1e1a1c;
    display: block;
}

/*----------NEW SECTION-----------*/
/*Main slideshow*/
.slide-show {
    max-width: 100%;
    height: auto;
}

#slide-1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(31, 121, 199)),url("slide images/slide-1.png");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
}

#slide-2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(31, 121, 199)),url("slide images/slide-2.png");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
}

#slide-3 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(31, 121, 199)),url("slide images/slide-3.png");
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
}

/*Slogan text*/
.text-on-image {
    padding-top: 25%;
    padding-left: 50px;
    font-size:180%;
    margin: 0;
}

.text-on-image h1 {
    color:white;
    text-shadow:#1e1a1c;
    margin: 0;
}

/*What does it mean? button*/
.about-us-button {
    background-color: transparent;
    border-color: white;
    border-style:solid;
    padding: 10px 30px 10px 30px;
    font-family: "Teko";
    letter-spacing: 2px;
    border-radius: 30px;
}

.about-us-button:hover {
    background-color: #e1a74ae6;
}

/*----------NEW SECTION-----------*/
/*Provider logos and introduction*/

.sponsors {
    width: 100%;
    height: 230px;
    background-color: rgb(31, 121, 199);
}

.logo-sponsors {
    height: 40px;
    padding-top: 30px; 
    padding-left: 15px;
    padding-right: 15px;
}

.logo-sponsors-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.description h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 1.5em;
}

/*Text label properties*/

.label-container {
    display: block;
    background-color: #e1a74ad7;
    width: fit-content;
    padding: 5px 20px 0px 20px;
}

.label-container h1 {
    color:#1e1a1c;
    font-size: 2em;
}

/*----------NEW SECTION-----------*/
/*All our products section*/
.products-label {
    padding: 15px;
    display: flex;
    justify-content: center ;
}

/*Not to let the zoom-in hover effect overflow the box*/
.parent {
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    position:static;
    align-items: center;
}

/*The container with zoom-in hover effect*/
.product-container {
    text-align: center;
    text-transform: uppercase;
    background-position: center;
}

.product-container:hover {
    transition: all .5s;
    transform: scale(1.2);
}

.products-items {
    display: flex;
    justify-content: center;
}

.product-container#guitars {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/guitars.jpg");
}

.product-container#drums {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/drums.jpg")
}

.product-container#keyboards {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/keyboards.jpg")
}

.product-container#pianos {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/pianos.jpg")
}

.product-container#strings {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/strings.jpg")
}

.product-container#winds {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/winds.jpg")
}

.product-container h1 {
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
}

/*Responsive products row, wrappable when changing width*/
.row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap:10px
}


.row > div {
    width: 100%;
    flex: max(300px, 100%/3 - 50px);
}

/*----------NEW SECTION-----------*/
/*Featuring product container*/
.featuring-products {
    position: relative;
}

.featuring {
    padding-top: 2%;
}

/*Box contain main object and information*/
.anime-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*First speech*/
.product-intro h2 {
    padding-left: 12%;
    padding-right: 12%;
}

.product-intro img {
    justify-self:center;
    height: 20%;
    width: 85%;
}

.product-intro .label-container {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5px;
}


/*Instrument information box*/
.detail-box {
    padding-top: 3%;
    padding-right: 8%;
    width: 60%;
}

.instrument-title {
    line-height: 1.2;
    color: rgb(62, 165, 255);
    font-size:400%;
}
.instrument-type {
    text-transform: uppercase;
}

.product-box img {
    width: 30%;
}

.character-image {
    width: 60%;
}

.character-image img {
    width: 100%;
}
.detail-box p {
    padding-top: 0px;
}

/*Recommended products container*/
.product-images {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    list-style: none;
}

.detail-text {
    padding-top:35%;
    padding-bottom: 35%;
}

/*Recommended products*/
.recomment-products {
    width: 32%;
    margin-left: 0;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 10px;
    position:static;
    text-align: center;
}

.product-box {
    display:block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-color: aquamarine;
}

.product-box#pac600 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/pac/pac600.webp");
}

.product-box#pac300 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/pac/pac300.webp");
}

.product-box#pac200 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/pac/pac200.webp");
}

.product-box#lpclassic {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/lp/lpclassic.png");
}

.product-box#lpstandard {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/lp/lpstandard.png");
}

.product-box#lpmodern {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/lp/lpmodern.png");
}

.product-box#yep621 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/eup/yep621.png");
}

.product-box#yep642 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/eup/yep642.png");
}

.product-box#yep321 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgb(0, 0, 0)), url("products/eup/yep321.png");
}

.product-images {
    padding-left: 0px;
}

.product-box:hover {
    transition: all .5s;
    transform: scale(1.1);
}

.char-prev, .char-next {
    cursor: pointer;
    width: auto;
    color: #e09f36ed;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
    position: absolute;
    display: block;
    top:25px;
    padding:20px
}

.char-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.char-dot {
    cursor: pointer;
    height: px;
    width: 25%;
    margin: 0 15px;
    background-color:white;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 20px;
}

.char-dot img {
    width: 100%;
}

.active {
    background-color: rgb(62, 165, 255);
  }

.char-dot:hover {
    background-color: darkgrey;
}

.events-label {
    display: flex;
    justify-content: center;
}

.event-banner {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.event-banner img {
    width: 80%;
}

/*----------NEW SECTION-----------*/
/*Responsive footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    bottom: 0;
    background-color:rgb(255, 255, 255);
    width: 100%;
    padding: 15px 0px 15px 0px;
    align-items: center;
}

footer a h2 {
    color: #1e1a1c;
}

footer a h3 {
    color: rgb(31, 121, 199) ;
}

#column-1 {
    float: left;
}

#column-2 {
    float: right;
    padding-right: 15px;
}

/*Left footer*/
.footer-services .footer-row {
    display: flex;
    justify-content: left;
}

.footer-services #row-1 a {
    padding: 0px 15px 0px 15px
}

.footer-services #row-2 a {
    padding: 0px 0px 0px 15px
}

.social-links img {
    width: 30px;
}

/*Right footer*/
.social-links .footer-row {
    display: flex;
    justify-content: right;
}

.social-links #row-1 a {
    padding-left: 5px;
}

.products-nav:hover > .dropdown {
    display: block;
}

.product-intro {
    padding:10px;
    text-align: center;
    width: 70%;
}

/*----------NEW SECTION-----------*/
/*About us page*/
.aboutus-banner img {
    width: 100%;
}

.label-container {
  text-transform: uppercase;
}

.aboutus-content {
  padding-left:10%;
  padding-right:10%;
}

.section-container {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
}

.aboutus-message {
  padding-left: 5%;
  width: 70%;
}

/*----------NEW SECTION-----------*/
/*Contact us*/
.contact-us {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contact-container {
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.contact-container {
    background-color: white;
}

.tabcontent {
    display: block;
}

.bar-selection {
    background-color:#e1a74ad7;
    display: flex;
    text-align: center;
    justify-content:space-around;
}

.tab-container {
    width: 50%;
}

.tab-container:hover {
    background-color:rgb(62, 165, 255);
}

.bar-selection a {
    position: block;
    display: inline-flex;
    padding:2vh 2vh;
    text-transform: uppercase;
    margin: 0;
}

.bar-selection a p {
    font-size: 2.5rem;
    color: white;
}

label {
    font-size: 2rem;
}

input[type=text], textarea {
    font-size: 1vw;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-size: 1vw;
    background-color:rgb(62, 165, 255);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container {
    border-radius: 5px;
    padding: 20px;
}



/* Style to center the map on the webpage */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    bottom: 0;
    width: 100%;
    background-color: transparent;
}

.map-container iframe {
    width: 80%;
    height: 70%;
}

.bar-selection {
    display: flex;
    padding-left: 0;
    cursor: pointer;
    justify-content: space-around;
}


.address {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

.address li {
    flex: max(300px, 100%/3 - 50px);
    padding-right: 20px;
    padding-bottom: 10px;
    width: 30%;
}

#form-content {
    overflow: hidden;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#location-content {
    display: none;
    padding-top: 4%;
    padding-bottom: 4%;
}

.alert {
    display: none;
}

/*PRODUCT PAGE*/

.products-notice {
    display: flex;
    justify-content: center;
    padding:17%
}

/*Reveal block effect*/
.rev-block#rev-block1::after {
    content: '';
    top:115px;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgb(31, 121, 199);
    animation: rev-block1 1.5s cubic-bezier(0.19,1,0.22,1) forwards;
}

@keyframes rev-block1 {
    0% {
        left: 0;
        width: 0%;
    }

    65% {
        left:0;
        width: 100%;
    }

    100%  {
        left: 100%;
        width: 0%;
    }
}

.rev-block#rev-block2::after {
    content: '';
    top:115px;
    left:0;
    position: absolute;
    width: 100%;
    height: 98%;
    background:rgb(255, 255, 255);
    animation: rev-block2 1.5s cubic-bezier(0.19,1,0.22,1) forwards;
}

@keyframes rev-block2 {
    0% {
        left: 0;
        width: 100%;
    }

    65% {
        left:0;
        width: 100%;
    }

    100%  {
        left: 100%;
        width: 0%;
    }
}


