@media screen and (max-width:1000px) {
    .anime-products {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .character-image {
        width: 100%;
    }
    

    .detail-box {
        padding:10%;
        width: 80%;
    }
}

@media screen and (max-width:950px) {

    .introduct {
        white-space: nowrap;
        width:20px;
        visibility: collapse;
    }

    .text-on-image {
        font-size: medium;
    }

    .about-us-button {
        padding: 5px 15px 5px 15px;
    }

    .about-us-button a h1 {
        font-size:25px;
    }

    .description h2 {
        font-size: 20px;
    }

    .parent {
        width: 50%;
    }

    .section-container {
      flex-direction: column;
    }

    .aboutus-message {
        width: 100%;
        padding-left: 0;
        padding-top:10px;
    }

    .aboutus-message h2 {
        font-size: 1rem;
    }

    .adress-name h2 {
        font-size: 1.2rem;
    }

    .bar-selection a p {
        font-size: 2rem;
        color: white;
    }
    
    label {
        font-size: 1.5rem;
    }

}

@media screen and (max-width:770px) {
    .description h2 {
        font-size: 16px;
    }

    .logo-sponsors {
        height: 30px;
    }


}


@media screen and (max-width:625px) {
    .description h2 {
        font-size: 13px;
    }

    .text-on-image {
        font-size: small;
    }

    .about-us-button {
        padding: 5px 15px 5px 15px;
    }

    .about-us-button a h1 {
        font-size:15px;
    }

    .sponsors {
        height: 165px;
    }

    .label-container {
        padding: 3px 10px 0px 10px;
    }

    .label-container h1 {
        font-size:x-large;
    }

    .product-container a h1 {
        font-size: x-large;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    #column-1 {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
    
    #column-2 {
        display: flex;
        justify-content: center;
        padding-right: 0px;
    }
    
    .footer-services .footer-row {
        display: flex;
        justify-content: center;
    }
    .footer-services #row-1 a {
        padding: 0px 10px 0px 10px;
    }
    .footer-services #row-2 a {
        padding: 0px 5px 0px 5px;
    }
    
    .social-links .footer-row {
        display: flex;
        justify-content: center;
    }

    .intro-text {
        font-size: 1.4rem;
    }

    .detail-box {
        padding-left: 10%;
        width: 80%;
    }

    .detail-box h1 {
        font-size: 2.2rem;
        line-height: 1.5;
    }

    .detail-box h2 {
        font-size: 1.4rem;
    }

}

@media screen and (max-width:520px) {
    .logo-sponsors {
        height: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .description h2 {
        display: none;
    }

    .sponsors {
        height: 80px;
    }

    .nav-content li {
        padding: 12px 5px 10px 15px;
    }

}

@media screen and (max-width:480px) {
    .nav-content {
        padding-left: 10px;
    }

    .nav-content li {
        padding: 12px 5px 10px 5px;
    }

    .label-container h1 {
        font-size: large;
    }

    .parent {
        margin: 1px;
    }

    .logo-sponsors {
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .description h2 {
        font-size: 0.6rem;
    }

    .text-on-image {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    .product-intro h2 {
        font-size: 1rem;
    }

    .char-dot {
        margin: 5px;
    }

    .char-prev, .char-next {

        font-size: 20px;
        top:0px;
        padding:10px
    }

    .detail-box h1 {
        font-size: 2.2rem;
        line-height: 1.5;
    }

    .detail-box h2 {
        font-size: 1rem;
    }

    .detail-box {
        padding-left: 10%;
        width: 80%;
    }

    .nav-content li {
        font-size: 0.8rem;
    }

    .logo-white img {
        height: 2rem;
        padding-top: 0.1px;
    }

}

@media screen and (max-width:385px) {

    .label-container h1 {
        font-size: 0.9rem;
    }

    .logo-sponsors {
        height: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .description h2 {
        font-size: 0.6rem;
    }

    .text-on-image {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    .product-intro h2 {
        font-size: 0.7rem;
    }

    .char-dot {
        margin: 5px;
    }

    .char-prev, .char-next {

        font-size: 20px;
        top:0px;
        padding:10px
    }

    .detail-box h1 {
        font-size: 2.2rem;
        line-height: 1.5;
    }

    .detail-box h2 {
        font-size: 0.7rem;
    }

    .detail-box {
        padding-left: 10%;
        width: 80%;
    }

    .nav-content li {
        font-size: 0.8rem;
    }

    .logo-white img {
        height: 2rem;
        padding-top: 0.1px;
    }

    footer h2 {
        font-size: 1.2rem;
    }

    footer h3 {
        font-size: 1rem;
    }

    .adress-name h2 {
        font-size: 1rem;
    }

    .bar-selection a p {
        font-size: 1.5rem;
        color: white;
    }
    
    label {
        font-size: 1.2rem;
    }


}

@media screen and (max-width:360px) {


    .logo-sponsors {
        height: 15px;
    }

    .text-on-image h1 {
        font-size: 1.3rem;
    }


}

