<div class="column" id="column-1">
    <div class="footer-services">
        <div class="footer-row" id="row-1">
            <a class="footer-link" href="aboutus#services"><h2>Services</h2></a>
            <h2>|</h2>
            <a class="footer-link" href="aboutus#warranty"><h2>Warranty</h2></a>
            <h2>|</h2>
            <a class="footer-link" href="contactus#location"><h2>Locations</h2></a>
        </div>
        <div class="footer-row" id="row-2">
            <a class="footer-docs" href="#"><h3>Term of Services</h3></a>
            <a class="footer-docs" href="#"><h3>Privacy Policy</h3></a>
            <a class="footer-docs" href="#"><h3>Accessibility</h3></a>
            <a class="footer-docs" href="document"><h3>Contact Us</h3></a>

        </div>
    </div>
</div>
<div class="column" id="column-2">
    <div class="social-links">
        <div class="footer-row" id="row-1">
            <a href="https://youtu.be/dQw4w9WgXcQ"  title="facebook"><img src="icon/socials/facebook.svg" alt="fb"></a>
            <a href="https://youtu.be/dQw4w9WgXcQ"  title="instagram"><img src="icon/socials/instagram.svg" alt="insta"></a>
            <a href="https://twitter.com/hibike_store_GB"  title="twitter"><img src="icon/socials/twitter.svg" alt="tw"></a>
        </div>
        <div class="footer-row" id="row-2">
            <a class="copyright"><h3>(c) 2015 - 2023 | Hibike Official Store</h3></a>

        </div>
    </div>
</div>