<div class="title">
    <a class="intro" href="homepage.html">
        <div class="logo">
            <img src="logo/logo.svg" alt="logo">
        </div>
        <div class="text-logo">
            <h1>Hibike</h1>
        </div>
    </a>
    <div class="introduct">
        <h2>Authorized reseller | Most popular musical instrument stores among anime lovers in SEA</h2>
    </div>
    <div class="right-header">
        <div class="right-icons">
            <div class="icon1"><img src="icon\title\map-pin.svg"></div>
            <div class="icon2"><img src="icon\title\shopping-bag.svg"></div>
            <div class="icon3"><img src="icon\title\user.svg"></div>
        </div>
    </div>
</div>