<div class="logo-white"><img id="logo-white" src="logo/logo-white.svg" alt=""></div>
<ul class="nav-content" id="nav-content">
    <li><a class="home" href="homepage.html"><h2>Home</h2></a></li>
    <li><a class="products-nav" href="products.html"><h2>Products</h2></a>
      <ul class="dropdown">
        <li><a href="#"><h2>Guitars, Basses, Amplifiers</h2></a></li>
        <li><a href="#"><h2>Drums</h2></a></li>
        <li><a href="#"><h2>Keyboards</h2></a></li>
        <li><a href="#"><h2>Pianos</h2></a></li>
        <li><a href="#"><h2>Strings</h2></a></li>
        <li><a href="#"><h2>Winds</h2></a></li>
      </ul>
    </li>
    <li><a class="about-us" href="aboutus.html"><h2>About us</h2></a></li>
    <li><a class="contact-us" href="contactus.html"><h2>Contact us</h2></a></li>
</ul>