<div class="logo-white"><img id="logo-white" src="logo/logo-white.svg" alt=""></div>
<div class="nav-content" id="nav-content">
    <a class="home" href="homepage.html"><h2>Home</h2></a>
    <a class="products" href="products.html"><h2>Products</h2>
        <!--<ul class="dropdown">
            <li><a href="#guitars/basses"><h2>Guitar, Basses, Amp</h2></a></li>
            <li><a href="#drums"><h2>Drums</h2></a></li>
            <li><a href="#keyboards"><h2>Keyboards</h2></a></li>
            <li><a href="#piano"><h2>Piano</h2></a></li>
            <li><a href="#strings"><h2>Strings</h2></a></li>
            <li><a href="#winds"><h2>Winds</h2></a></li>
        </ul>-->
    </a>
    <a class="about" href="aboutus.html"><h2>About us</h2></a>
    <a class="contact" href="contactus.html"><h2>Contact us</h2></a>
</div>
